* { 
    margin: 0; 
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    min-height: 100vh; /* Ensure the body takes up the full height of the screen */
    display: flex;
    flex-direction: column; 
    justify-content: center; /* Center the content vertically */
    align-items: center;
    background-image: url('images/background-login-image-6.jpg'); /* Background image */
    background-size: cover;
    background-position: center;
}

.glass_container { /* Container for the glass effect */
    width: 300px; /* fixed width of the container */
    position: relative; /* Ensure the container is positioned relative to the body */
    z-index: 1; /* Ensure the container appears above the background image */
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    border: 1px solid #fff;
    overflow: hidden; /* Ensure content doesn't overflow during animation */
}

.glass_container_login {
    height: 350px;
    animation: shrink1 0.5s ease-out forwards; /* Animation for shrinking the box */
}

.glass_container_register {
    height: 400px;
    animation: expand1 0.5s ease-out forwards; /* Animation for expanding the box */
}

.glass_container_mfa {
    height: 200px;
    animation: shrink2 0.5s ease-out forwards; /* Animation for expanding the box */
}

.glass_container_mfa_setup {
    height: 450px;
    animation: expand2 0.5s ease-out forwards; /* Animation for expanding the box */
}

.glass_container_mfa_setup img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain; /* Ensure the image fits within the box without expanding */
}

/* Styling for input containers */
.input-container {
    position: relative;
    width: 100%;
}

/* Styling for the toggle password icon */
.toggle-password {
    position: absolute; /* allows for the icon to be put over the top of other elements */
    right: 10px;
    top: 40%;
    cursor: pointer;
    font-size: 18px;
    color: white;
}

.toggle_password_login { /* Styling for the toggle password icon on the login page */
    position: absolute;
    right: 30px;
    top: 40%;
    cursor: pointer;
    font-size: 18px;
    color: white;
}

.toggle-password:hover { /* slight colour change when hovered, improve UX */
    color: lightgrey;
}

/* Styling for the tooltip */
.password_tooltip, .username_tooltip {
    display: none; /* Hide the tooltip by default */
    position: absolute; /* allows the tooltip to be positioned on top of stuff */
    top: 150%;
    left: 0;
    transform: translateY(-50%);
    background-color: #333;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
    z-index: 100; /* Ensure the tooltip appears above everything */
}

.password_tooltip::after, .username_tooltip::after { /* when the password box is hovered over/clicked */
    content: ''; 
    position: absolute;
    top: 50%;
    left: -5px;
    transform: translateY(-50%);
    border-width: 5px;
    border-style: solid;
    border-color: transparent #333 transparent transparent; 
}

/* Styling for the MFA checkboxes and labels on register page */

.mfa_checkbox {
    color: white;
    display: flex;
    align-items: center;
    margin-bottom: -15px;
}

.mfa_checkbox input[type="checkbox"] {
    margin-right: 10px;
    margin-bottom: 10px;
}

.mfa_checkbox label {
    margin-right: 80%;
    margin-top: 5px;
    white-space: nowrap;
    font-size: 15px;
}

/* All the animations with the boxes shrinking and expanding when the page is loading, along with content fading in */

@keyframes shrink1 {
    0% {
        height: 400px;
    }
    100% {
        height: 350px;
    }
}

@keyframes shrink2 {
    0% {
        height: 350px;
    }
    100% {
        height: 200px;
    }
}


@keyframes expand1 {
    0% {
        height: 350px;
    }
    100% {
        height: 400px;
    }
}

@keyframes expand2 {
    0% {
        height: 350px;
        width: 300px;
    }
    100% {
        height: 450px;
        width: 400px;
    }
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

/* Styling for the glass effect */

.glass_container::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    z-index: -1;
}


/* Styling for the content within the glass container, mostly the same for all pages */

.login_box, .register_box, .MFA_box, .MFA_setup_box {
    max-width: 250px;
    margin: 0 auto;
    text-align: center;
    opacity: 0; /* Start with content hidden */
    animation: fadeIn 0.5s ease-out forwards; /* Fade in content */
    animation-delay: 0.5s; /* Delay to match the box expansion */
}

.MFA_setup_box h2 {
    margin-bottom: 20px;
}

.MFA_setup_box p {
    margin-bottom: 20px;
}

.MFA_setup_box a {
    color: white;
    text-decoration: none;
}

.mfa_button {
    display: inline-block; /* Ensure the button is inline */
    padding: 10px 20px;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.mfa_button:hover {
    background-color: darkblue; /* Change background colour on hover, UX */
}

h2 { /* Styling for the heading on each page */
    color: #fff;
    margin-top: 30px;
    margin-bottom: -10px;
}

form { /* Styling for the form with the input boxes in it */
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

input { /* Styling for the input boxes */
    padding: 10px;
    margin-top: 15px;
    width: 100%;
    border-radius: 10px;
    background: transparent; /* Transparent background, looks nicer */
    border: 1px solid #fff; /* White border for good contrast */
    color: #fff;
    font-size: 13px;
}

input::placeholder { /* Styling for the placeholder text */
    color: #fff;
}

input:focus { /* Styling for the input boxes when they are focused */
    outline: none;
}

button { /* Styling for the login, register, etc buttons */
    background: #fff;
    color: black;
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 15px;
}

button:hover { /* Slight colour change on hover, improve UX */
    background: transparent;
    color: white;
    outline: 1px solid #fff;
}

p {
    font-size: 12px;
    color: #fff;
    margin-top: 15px;
}

#register, #login { /* Styling for the register and login links */
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

/* Flash messages styling */
.flashes {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%); /* Center the flashes */
    padding: 0; /* Remove padding from the ul */
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000; /* Ensure it appears above everything */
    min-width: 300px;
    max-width: 80%;
}

.flashes li { 
    list-style: none;
    margin: 0;
    padding: 15px; /* Add padding to the li */
    display: flex;
    align-items: center;
    justify-content: space-between; 
    border-radius: 5px; /* Add border-radius to the li */
}

.flashes .close {
    margin-left: 15px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

.flashes .close:hover { /* Slight colour change on hover, improve UX */
    color: #bbb;
}

/* Flash message categories */
.flashes .error {
    background-color: #f44336; /* Red background for errors */
    color: white;
}

.flashes .success {
    background-color: #4CAF50; /* Green background for success */
    color: white;
}

@media (max-width: 430px) { /* RESPONSIVELY STYLED FOR AN IPHONE 14 PRO MAX */
    .glass_container,
    .glass_container_login,
    .glass_container_register,
    .glass_container_mfa,
    .glass_container_mfa_setup {
        display: contents; /* Removes the container but keeps child elements visible */
        width: 100vw; /* Ensure the container takes up the full width of the screen */
        
    }

    form {
        width: 90%; /* Ensure form takes most of the screen width */
        margin: 0 auto; /* Center the form */
        padding: 0;
        display: block;
        position: absolute;
        top: 30%;
        left: 5%;
    }

    input {
        width: 100%; /* Ensure input boxes take the full width */
        padding: 15px;
        font-size: 16px;
    }

    button {
        width: 100%; /* Ensure buttons take the full width */
        padding: 15px;
        font-size: 16px;
    }

    h2 { /* Styling for the heading on each page, brings it further up the page for better UI */
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translateX(-50%);
        font-size: 45px;
        text-align: center;
    }

    p {
        font-size: 20px;
    }

    .flashes { /* Flash messages styling */
        top: 50px;
        left: 35%;
    }
}