{% extends 'main_layout.html' %}

{% block body %}

<h1>Fish Dex - Collect them all!</h1>

<h3>--- Caught Fish ---</h3>

<div class="found_fish">
    {% for fish in caught_list %}
        <div class="fish_card">
            <img src="{{ fish[3] }}" alt="{{ /static/images/blank_fish_image.jpg }}">
            <h3>{{ fish }}</h3>
        </div>
    {% endfor %}
</div>

<h3>--- Yet To Catch ---</h3>

<div class="unfound_fish">
    {% for fish in uncaught_list %}
        <div class="fish_card">
            <img src="/static/images/blank_fish_image.jpg" alt="no img">
            <h3>{{ fish }}</h3>
        </div>
    {% endfor %}    
</div>

{% endblock %}