{% extends 'layout.html' %}

{% block body%}

<div id="sidebar">
    <h1>Catch</h1>
    <ul>
        <li><a href="{{ url_for('index') }}" class="nav_item">Feed</a></li>
        <li><a href="{{ url_for('fish_identifier') }}" class="nav_item">Identifier</a></li>
        <li><a href="{{ url_for('map') }}" class="nav_item">Map</a></li>
        <li><a href="{{ url_for('fish_dex') }}" class="nav_item">Fish-Dex</a></li>
        <li><a href="{{ url_for('login') }}" class="nav_item">Login</a></li>
    </ul>
</div>
<div id="content">
</div>

{% endblock %}