{% extends 'main_layout.html' %}

{% block body %}

<div id="content">
    {% if 'user_id' in session %}
        <!-- Button to open the modal -->
        <button class="open-modal-btn" onclick="openCreatePostModal()">+</button>

        <!-- Modal Form -->
        <div id="createPostModal" class="modal">
            <div class="modal-content">
                <span class="close" onclick="closeCreatePostModal()">&times;</span>
                <h2>Create Post</h2>
                <form action="{{ url_for('create_post') }}" method="post" enctype="multipart/form-data">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    <input type="file" name="image" accept="image/*" onchange="previewPostImage(event)" required>
                    <img id="PostImagePreview" src="#" alt="Post Image Preview" style="display: none; margin-top: 10px; margin-bottom: 10px; max-width: 100%;">
                    <textarea name="caption" placeholder="Add a caption... (Only the following special characters are allowed: . , - _)"></textarea>
                    <button type="submit">Post</button>
                </form>
            </div>
        </div>
    {% endif %}
    <div class="posts">
        {% if posts %}
            {% for post in posts %}
                <div class="post">
                    <div class="post_header">
                        {% if post[3] %}
                            <img src="{{ url_for('static', filename=post[3]) }}" alt="Profile Image" class="post_profile_image">
                        {% else %}
                            <img src="{{ url_for('static', filename='/images/blank_profile_pic.png') }}" alt="Profile Image" class="post_profile_image">
                        {% endif %}
                        <h4>{{ post[2] }}</h4>
                    </div>
                    <img src="{{ url_for('static', filename=post[0]) }}" alt="Post Image">
                    <div class="post_footer">
                        <p>{{ post[1] }}</p>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <h2>Be the first to make a post!</h2>
        {% endif %}
    </div>

    <script>
        function openCreatePostModal() {
            document.getElementById('createPostModal').style.display = 'block';
        }

        function closeCreatePostModal() {
            document.getElementById('createPostModal').style.display = 'none';
        }

        function previewPostImage(event) {
            const reader = new FileReader();
            reader.onload = function() {
                const output = document.getElementById('PostImagePreview');
                output.src = reader.result;
                output.style.display = 'block';
            };
            reader.readAsDataURL(event.target.files[0]);
        }
    </script>
</div>

{% endblock %}