{% extends 'login_layout.html' %}

{% block body%}

<div id="login_wrapper">
    <h1>Please Register Here</h1>
    <div class="login_form">
        <form action="{{ url_for('register') }}" method="post">
            <ul>
                <li><input type="hidden" name="csrf_token" value="{{ csrf_token() }}"></li>
                <li><input type="text" name="username_entry" placeholder="Username"></li>
                <li><input type="password" name="password_entry" placeholder="Password"></li>
                <li><a href="/login" class="register_button">Login</a></li>
                <li><button type="submit">Register</button></li>
            </ul>
        </form>
    </div>
</div>

{% endblock %}