{% extends 'login_layout.html' %}

{% block body %}

<div class="glass_container_mfa glass_container"> <!-- inherits glass box class + its own class -->
    <div class="MFA_box">
        <h2 class="setup_mfa_title">Enter your MFA Code</h2>
        <form method="POST">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <input type="text" name="otp" placeholder="Enter 6-digit code" required> <!-- this will be compared with code and used for verification -->
            <button type="submit">Verify</button>
        </form>
    </div> 
</div>

{% endblock %}